* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'calibri',opensans;
	cursor: pointer;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222;
}
.container {
position: relative;
max-width: 100%;
display:grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
grid-template-rows: minmax(100px,auto);
margin: 20px;
grid-auto-flow: dense;
grid-gap: 10px;
}
.container .box {
	background-color: #333;
	padding: 20px;
	display: grid;
	font-size: 20px;
	place-items:center;
	text-align: center;
	color: #fff;
	transition: 0.5s;
}
.container .box:hover {
	background-color: #e91e63;
}
.container .box h2 {

}
.container .box:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}
.container .box:nth-child(3) {
	grid-row: span 3;
}
.container .box:nth-child(6) {
	grid-column: span 2;
	grid-row: span 2;
}